{% load crispy_forms_tags %}
<h4>Comments {{ post.comments.count }}</h4>
{% for comment in post.comments.all %}
    <span>
        <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
                
                <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
                <a class="mr-2" href="{% url 'other-user' comment.author %}">{{ comment.author }}</a>
                <span class=" text-muted font-weight-normal">
                    <small>
                {{ comment.date_created }}
                </small>
                </span>
            </p>
            <blockquote class="blockquote">
                <p class="mb-0 ">{{ comment.content | linebreaks }}</p>
            </blockquote>
            {% if user == comment.author or user == post.author %}
                <form action="{% url 'delete-comment' %}" method = "POST" id="delete-comment" value='{{ comment.id }}' post_id='{{post.id}}'>
                    {% csrf_token %}
                    <button  class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
    </span>
    <hr>
{% endfor %}
{% if user.is_authenticated %}
<div class="content-section">
<form method="POST" id="comment-form" action=".">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Leave A Comment</legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post</button>
    </div>
</form>
</div>
{% endif %}